<!DOCTYPE html>
<html lang="en" ng-app="TimerApp" ng-csp>
<head>
  <meta charset="UTF-8">
  <title>Focus Pomodora Timer</title>
  <link rel="stylesheet" href="styles/application.css" type="text/css">
</head>
<body ng-controller="TimerCtrl"
      ng-class="{ running: duration }"
      ng-cloak>
  <div class="timers">
    <input type="text" ng-model="options.workTime"
                       ng-pattern="/^[1-9]\d*$/"
                       ng-if="!duration" />
    <div class="duration" ng-if="duration">{{ duration }}</div>
  </div><!-- .timers -->

  <div class="actions">
    <button class="btn btn-primary"
            ng-click="startTimer()"
            ng-if="!duration">Start</button>
    <button class="btn btn-default"
            ng-click="stopTimer()"
            ng-if="duration">Stop</button>
  </div><!-- .actions -->

  {{ workTime }}

  <script src="scripts/application.js"></script>
</body>
</html>